<h1>Sign in</h1>

<p>Don't have an account yet?
<%= link_to "Sign up here!", signup_path %></p>

<%= form_with(url: session_path, local: true) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, autofocus: true, required: true %>

  <%= form.label :password %>
  <%= form.password_field :password, required: true %>

  <%= form.submit "Sign in" %>
<% end %>
