<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |r| %>
    <li>
      <%= render "shared/stars", percent: r.stars_as_percent %>
      <p>
        <%= link_to r.user.name, r.user %>
        <span class="date">
          About <%= time_ago_in_words(r.created_at) %> ago
        </span>
      </p>
      <p>
        <%= r.comment %>
      </p>
    </li>
    <% if (current_user && current_user?(@user)) || current_user_admin? %>
      <%= link_to "Delete review", movie_review_path(@movie, r), method: :delete, class: "button", data: { confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</ul>
